body {
  background-color: #efefef;
}

.background {
  display: block;
  background-color: #f695e4;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

h1 {
  margin: auto;
  padding-top: 10px;
}

.inlineBox {
  background-color: aliceblue;
  height: 500px;
  position: relative;
  overflow: scroll;
}

.item {
  display: flex;
  margin-right: 30px;
}

h2 {
  margin-right: 50px;
}

p {
  width: 20;
  margin-left: auto;
  text-align: left;
}

button {
  border-radius: 50%;
  margin-bottom: 15px;
}

input {
  width: 98%; /* automatisch? */
  position: relative;
  bottom: 20px;
}
